.post-div .title {
  width: 600px;
}

.post-div .main-question {
	height: 200px;
	width: 600px;
}

.horizontal {
  float: left;
}

.main-div {
  width: 580px;
  background-color: #CEFFCE;
}

.sub-div {
  width: 300px;
}

#result-detail-div {
  margin-left: 53px;
}

.left-right {
  float: left;
  width: 100%;
}

.left-right .left {
  float: left;
  position: relative;
}

.left-right .right {
  float: right;
  text-align: right;
  position: relative;
}
#register{
  margin-left: 281px;
  color: blue;
}
