.post_div .title {
  width: 600px;
}

.post_div .main-question{
	height: 200px;
	width: 600px;
}
.horizontal{
  float: left;
}
.main-div{
  height: 1000px;
  width: 580px;
  margin-left: 53px;
  background-color: #CEFFCE;
}
.sub-div{
  width: 300px;
}
