.post-div .title {
  width: 600px;
}

.post-div .main-question {
	height: 200px;
	width: 600px;
}

.horizontal {
  float: left;
}

.main-div {
  width: 580px;
  background-color: #CEFFCE;
}

.sub-div {
  width: 300px;
}

#result-detail-div {
  margin-left: 53px;
}

.left-right {
  width: 100%;
}

.left-right .left {
  width: 100%;
  position: absolute;
}

.left-right .right {
  margin-right: 0;
  width: 100%;
  position: absolute;
}
